<div class="header" xmlns="http://www.w3.org/1999/html">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h1><a href="" class="title"> Rescue</a></h1>
      </div> <!-- Title -->

      <div class="col-md-6" *ngIf="authService.isAuthenticated()">
        <ul class="account nav nav-pills">
          <li class="nav-item dropdown">
            <a class="title nav-link dropdown-toggle" data-bs-toggle="dropdown" data-bs-target="dropdown" href="#" role="button" aria-expanded="false">Account</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">{{username}}</a></li>
              <li><a class="dropdown-item" href="#">Profile</a></li>
              <li><a class="dropdown-item" href="#">My Posts</a></li>
              <li><a class="dropdown-item" href="/notifications">Notifications</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" (click)="logout()">Logout</a></li>
            </ul>
          </li>
        </ul>
        <a href="/community" class="new-post">Community</a>
        <a href="/post-type-selection" class="new-post">Add Post</a>
      </div> <!-- Add Post and Logout -->
      <div *ngIf="authService.isAuthenticated()">
        <!-- Button trigger modal
        <button type="button" class="filter btn" data-bs-toggle="modal" data-bs-target="#nearMe">
          Near Me
        </button>

        <!- Modal ->
        <div class="modal fade" id="nearMe" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-lg modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Near Me</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <app-near-me></app-near-me>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Save changes</button>
              </div>
            </div>
          </div>
        </div>
        -->
        <a href="/near-me" class="filter btn">Near Me</a>
        <a href="/filter" class="filter btn">Filter</a>
        <a href="/connections" class="new-post btn">Connections</a>
      </div>

      <div class="col-md-6" *ngIf="!authService.isAuthenticated()">
        <a href="/login" class="login btn btn-default">Login</a>
        <a href="/register-account-type-selection" class="register btn btn-default">Register</a>
      </div> <!-- Login and Register -->
    </div>
  </div>
</div>
