<figure class="text-center">
  <h3><a class="btn btn-secondary" href="/community">Back</a> Individuals</h3>
  <br>
  <div class="container">
    <form [formGroup]="searchForm" (ngSubmit)="search()">
      <div class="form-group">
        <input type="text" [formControlName]="'searchInput'" class="form-control" placeholder="Search..." required="true"/>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-outline-primary">Search</button>
      </div>
    </form >
  </div>
  <br>
</figure>
<div class="app flex-row align-items-center">
  <div class="container">
    <div class="card-deck row">
      <div class="card col-md-4" *ngFor="let individual of individuals | async">
        <div class="card-block">
          <img src="{{individual.profileImage}}" alt="" width="250px"/>
          <br>
          <a href="user/{{individual.id}}">{{individual.name}} {{individual.lastName}}</a>
        </div>
      </div>
    </div>
  </div>
</div>
