<h2>Friend Requests</h2>
<div class="row" *ngFor="let friendRequest of friendRequests | async">
  <div class="friend-requests">
    <p>{{friendRequest.name}} {{friendRequest.lastName}}</p>
    <button class="btn-primary" type="button" (click)="acceptFriendRequest(friendRequest.id)">Accept</button>
    <button class="btn-danger" type="button" (click)="declineFriendRequest()">Decline</button>
    <hr>
  </div>
</div>
<hr>
<h2>Friends</h2>
<div class="row" *ngFor="let friend of friends | async">
  <div class="friends">
    <p><a href="user/{{friend.id}}" class="friend-profile-link">{{friend.name}} {{friend.lastName}}</a></p>
    <hr>
  </div>
</div>
<hr>
<h2>Organizations</h2>
<div class="row" *ngFor="let organization of organizations | async">
  <div class="organizations">
    <p><a href="user/{{organization.id}}" class="org-profile-link">{{organization.name}}</a></p>
    <hr>
  </div>
</div>
