<input #mapSearchField class="maps-search-field" type="text"/>
<button #selectLocationButton type="button" class="select-location-button btn btn-primary" (click)="setLocation()">Set Location</button>

<google-map
  height="300px"
  width="100%"
  [zoom]="map_zoom"
  [center]="map_center"
  [options]="map_options"
  (mapClick)="placeMarker($event)">
  <map-marker
    [position]="marker_position"
  >
  </map-marker>
</google-map>

<div class="container justify-content-center">
  <h6>Address: {{address}}</h6>
  <!--<button type=button class="btn btn-primary" (click)="setLocation()">Set Location</button>-->

  <hr>
</div>
