<div class="container">
  <div class="click">
    <h4>Click below to register as an:</h4>
  </div>
  <div>
    <table class="container">
      <tr>
        <td>
          <div class="imgContainer">
            <div>
              <img src="/../assets/icons/Individual-Illustration-1.png" width="400px" height="350px" alt="individual-illustration"/>
            </div>
            <div class="imgButton">
              <a href="/register/individual" class="btn btn-primary">Individual</a>
            </div>
          </div>
        </td>
        <td>
          <div class="imgContainer">
            <div>
              <img src="/../assets/icons/Organization-Illustration-1.png" width="400px" height="350px" alt="organization-illustration"/>
            </div>
            <div class="imgButton">
              <a href="/register/organization" class="btn btn-primary">Animal Welfare Organization</a>
            </div>
          </div>
        </td>
      </tr>
    </table>
  </div>
</div>


