<div class="account-type-selection" xmlns="http://www.w3.org/1999/html">
  <div class="container">
    <p>Click below to register as an:</p>
    <div class="row">
      <div class="col-md-6">
        <a href="/missing-post" class="btn btn-primary">Missing Post</a>
      </div>
      <div class="col-md-6">
        <a href="/adoption-post" class="btn btn-primary">Adoption Post</a>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-6">
        <a href="/stray-post" class="btn btn-primary">Stray Post</a>
      </div>
      <div class="col-md-6">
        <a href="/simple-post" class="btn btn-primary">Simple Post</a>
      </div>
    </div>
  </div>
</div>

