<div class="content">
  <div class="container">
    <ul class="nav nav-pills nav-fill">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="/">Rescue Mode</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/events">Events</a>
      </li>
    </ul>
    <div class="row" *ngFor="let post of posts">
      <div *ngIf="post.id != '0'" class="home">
        <h3><span class="badge bg-warning">{{post.postType}}</span>&nbsp;<a href="/post/{{post.id}}" class="blog-title">{{post.title}}</a></h3>
        <div>
          <i class="fas fa-user"></i> By: <a href="/user/{{post.userId}}" class="post-user"> {{post.username}} </a>
        </div>
        <img class="thumbnail" src="{{post.thumbnail}}" alt=""/>
        <div *ngIf="post.postType=='missing'">
          <h5>Location: {{post.address}}</h5>
          <div *ngIf="post.distance != null">
            <h5>Distance: {{post.distance}} meters</h5>
          </div>

          <h5>Date: {{post.date}}</h5>
          <div class="preview">
            <p class="preview" [innerHTML]="post.body"></p>
          </div>
        </div>
        <div *ngIf="post.postType=='stray'">
          <h5>Location: {{post.address}}</h5>
          <div *ngIf="post.distance != null">
            <h5>Distance: {{post.distance}} meters</h5>
          </div>
          <h5>Date: {{post.date}}</h5>
          <h5>Actions Taken: {{post.actionTaken}}</h5>
        </div>
        <div *ngIf="post.postType=='adoption'">
          <h5>Location: {{post.address}}</h5>
          <h5>Age: {{post.age}}</h5>
          <h5>Size: {{post.size}}</h5>
          <h5>Gender: {{post.gender}}</h5>
        </div>
        <div class="preview" *ngIf="post.postType=='simple'">
          <p class="preview" [innerHTML]="post.body"></p>
        </div>
        <div>
          <a type="button" href="/post/{{post.id}}" class="read-more btn btn-info">Read More</a>
        </div>
        <hr/>
      </div>
    </div>
  </div>
</div>
