.breaking{
  width: inherit;
  word-wrap: break-word;
}

.d-flex {
  display: flex;
}

.justify-content-between {
  justify-content: space-between;
}

.event-image{
  margin-left: 13%;
  max-width:70%;
  height:auto
}
