<div *ngIf="post.postType != 'event'" class="content">
  <div class="container">
    <div class="row">
      <div class="col-md">
        <h1 class="blog-title">{{post.title}}</h1>
        <p> by <a href="/user/{{post.userId}}"> {{post.userName}}</a></p>
        <p>posted on: {{post.createdAt}}</p>
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <figure class="text-center">
              <ul class="carousel-item active">
                <li class="list-group-item">
                  <img src="{{post.thumbnail}}" alt="thumbnail" height="400px"/>
                </li>
              </ul>
              <ul class="carousel-item" *ngFor="let image of postImages | async">
                <li class="list-group-item">
                  <img src="{{image.url}}" alt="{{image.name}}" height="400px" />
                </li>
              </ul>
            </figure>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="false"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
        <br>
        <div *ngIf="post.postType=='missing'">
          <h5>Location: {{post.address}}</h5>
          <h5>Missing Date: {{post.date}}</h5>
          <h6>Breed: {{post.breed}}</h6>
          <h6>Gender: {{post.gender}}</h6>
          <h6>Colors: {{post.colors}}</h6>
          <h6>Size: {{post.size}}</h6>
          <h6>Microchip Number: {{post.microchipNumber}}</h6>
        </div>
        <div *ngIf="post.postType=='adoption'">
          <h5>Location: {{post.address}}</h5>
          <h6>Breed: {{post.breed}}</h6>
          <h6>Age: {{post.age}}</h6>
          <h6>Gender: {{post.gender}}</h6>
          <h6>Colors: {{post.colors}}</h6>
          <h6>Size: {{post.size}}</h6>
          <h6>Neutered: {{post.neutered}}</h6>
          <h6>Suitable for living with children: {{post.goodWithChildren}}</h6>
          <h6>Suitable for coexistence with other animals: {{post.goodWithAnimals}}</h6>
        </div>
        <div *ngIf="post.postType=='stray'">
          <h5>Location: {{post.address}}</h5>
          <h5>Spotted On: {{post.date}}</h5>
          <h5>Actions Taken: {{post.actionTaken}}</h5>
          <h6>Breed: {{post.breed}}</h6>
          <h6>Gender: {{post.gender}}</h6>
          <h6>Colors: {{post.colors}}</h6>
          <h6>Size: {{post.size}}</h6>
        </div>
        <hr>
        <div class="breaking">
          <p [innerHTML]="post.body"></p>
        </div>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
          <a type="button" class="btn btn-primary" href="/discussion/{{post.id}}">
            Discussion <span class="badge badge-light">{{post.numberOfComments}}</span>
          </a>
        </div>
      </div>
    </div>
    <a href="" class="back btn btn-secondary">Back</a>
  </div>
</div>

<div *ngIf="post.postType == 'event'" class="content">
  <div class="container">
    <div class="main-div">
      <img class="event-image" src="{{post.thumbnail}}" alt="thumbnail"/>
    </div>
    <div class="row">
      <div class="col-md">
        <h1 class="blog-title">{{post.title}}</h1>
        <p> by <a href="/user/{{post.userId}}"> {{post.userName}}</a></p>
        <p>posted on: {{post.createdAt}}</p>
        <hr>
        <div>
          <h5>Location: {{post.address}}</h5>
          <h5>Date: {{post.date}}</h5>
          <h5>Time: {{post.time}}</h5>
          <h6>{{post.eventAttendees}} people are attending</h6>
          <!-- TODO make including you dynamic and do something about the will not attend, maybe a toggle?-->
          <p>including you!</p>
          <div *ngIf="authService.isAuthenticated()" class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button class="contact btn btn-danger" (click)="willNotAttendEvent()">Will Not Attend</button>
            <button href="#" class="contact btn btn-success" (click)="willAttendEvent()">Will Attend</button>
          </div>

        </div>
        <hr>
        <div class="breaking">
          <p [innerHTML]="post.body"></p>
        </div>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
          <a type="button" class="btn btn-primary" href="/discussion/{{post.id}}">
            Discussion <span class="badge badge-light">{{post.numberOfComments}}</span>
          </a>
        </div>
      </div>
    </div>
    <a href="" class="back btn btn-secondary">Back</a>
  </div>
</div>

