
<div class="content">
  <div class="container">
    <div class="main-div">
      <ul class="list-group list-group-flush" *ngFor="let image of postImages | async">
        <li class="list-group-item">
          <img class="event-image" src="{{image.url}}" alt="{{image.name}}"/>
        </li>
      </ul>
    </div>
    <div class="row">
      <div class="col-md">
        <h1 class="blog-title">{{post.title}}</h1>
        <p>by {{post.username}}</p>
        <p>posted on: {{post.createdAt}}</p>
        <hr>
        <div>
          <h5>Location: {{post.address}}</h5>
          <h5>Date: {{post.date}}</h5>
          <h5>Time: {{post.time}}</h5>
          <h6>{{post.eventAttendees}} people are attending</h6>
          <p>including you!</p>
          <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button class="contact btn btn-danger" (click)="willNotAttendEvent()">Will Not Attend</button>
            <button href="#" class="contact btn btn-success" (click)="willAttendEvent()">Will Attend</button>
          </div>

        </div>
        <hr>
        <div class="breaking">
          <p [innerHTML]="post.body"></p>
        </div>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
          <a href="/discussion/{{post.id}}" class="contact btn btn-primary">Discussion</a>
        </div>
      </div>
    </div>
    <a href="" class="back btn btn-secondary">Back</a>
  </div>
</div>
