<div class="content">
  <div class="container">
    <ul class="nav nav-pills nav-fill">
      <li class="nav-item">
        <a class="nav-link" aria-current="page" href="/">Rescue Mode</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="/events">Events</a>
      </li>
    </ul>
  </div>
</div>

<div class="content">
  <div class="container">
    <div *ngIf="authService.isAuthenticated()">
      <a class="new-event btn btn-success d-md-block" href="/add-event">Create New Event </a>
    </div>
    <div class="row" *ngFor="let event of events | async">
      <div class="home">
        <h3><a href="/event/{{event.id}}" class="blog-title">{{event.title}}</a></h3>
        <div>
          <i class="fas fa-user"></i> By: <a href="/user/{{event.userId}}" class="post-user"> {{event.username}} </a>
        </div>
        <img class="thumbnail" src="{{event.thumbnail}}" alt=""/>
        <div>
          <h5>When: {{event.date}} at {{event.time}}</h5>
          <h5>Where: {{event.address}}</h5>
        </div>
        <div>
          <a type="button" href="/event/{{event.id}}" class="read-more btn btn-info">Read More</a>
        </div>
        <hr/>
      </div>
    </div>
  </div>
</div>
