<div class="account-type-selection" xmlns="http://www.w3.org/1999/html">
  <div class="container">
    <h3>Rescue Mode Post</h3>
    <div class="row">
      <div class="col-md-6">
        <label>Did you lose your pet?</label>
        <br>
        <label>Create a <b>Missing Post</b> and ask for help from nearby users.</label>
        <br>
        <a href="add-post/missing" class="btn btn-primary">Missing Post</a>
      </div>
      <div class="col-md-6">
        <label>Are you looking for a new home for an animal?</label>
        <br>
        <label>Create an <b>Adoption</b> Post and reach users that are looking to adopt.</label>
        <br>
        <a href="add-post/adoption" class="btn btn-primary">Adoption Post</a>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-6">
        <label>Did you see a stray animal on the streets?</label>
        <br>
        <label>Create a <b>Stray Post</b> and notify nearby users and organizations about the condition of the animal.</label>
        <br>
        <a href="add-post/stray" class="btn btn-primary">Stray Post</a>
      </div>
      <div class="col-md-6">
        <label>Do you have something to say that the Rescue Community needs to hear?</label>
        <br>
        <label>Create a <b>Simple Post</b> and discuss with other users.</label>
        <br>
        <a href="add-post/simple" class="btn btn-primary">Simple Post</a>
      </div>
    </div>
  </div>
</div>

